In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()
import glob

In [2]:
path = r'../data'
all_files = glob.glob(path+'/buzz_df_day*.csv')

files = []

for filename in all_files:
    df = pd.read_csv(filename)
    files.append(df)
    
data = pd.concat(files, axis=0, ignore_index=True)

In [3]:
data.head()

,Unnamed: 0,content,description,title
0,0,CBS Films\r\nI couldn't find the second video ...,Warning: This is gonna get pretty cute.View En...,16 Wholesome Details From TV And Movies That S...
1,1,"HBO Max\r\n""When I was working with Alexa last...","""I needed to have something different in my ey...",Jacob Elordi Has Been Living The Dream Filming...
2,2,"""Honestly working from home HAS been a game ch...","""Work will never love you back.""View Entire Po...",People Are Sharing Things That Helped Them Get...
3,3,Mike Marsland / WireImage via Getty Images\r\n...,You really can't win in Hollywood.View Entire ...,"7 Actors Who Were Considered Too ""Ugly"" For A ..."
4,4,Jane Barlow - Pa Images / PA Images via Getty ...,"""It would have been a money spinner.""",Brian Cox Says He Turned Down A Role In “Pirat...

In [4]:
type(data)

pandas.core.frame.DataFrame

In [5]:
data.shape

(560, 4)

In [6]:
data.drop('Unnamed: 0', axis=1, inplace=True)

In [7]:
data.columns

Index(['content', 'description', 'title'], dtype='object')

In [8]:
data.sample(5)

,content,description,title
369,The guilt you would feel when you forgot to fe...,The guilt you would feel when you forgot to fe...,Only Millennials Will Be Able To Tick Off Ever...
290,Salma and Angelina had a blast!,Salma and Angelina had a blast!View Entire Post ›,Salma Hayek Told A Hilarious Story About Angel...
533,"""I would have had to promote the movie from an...","""I would have had to promote the movie from an...",Will Ferrell Says He Turned Down $29 Million T...
480,"Dog A DayThe cutest pups, every day in your inbox",Not sure I would be this brave!View Entire Post ›,Here's How Australians React When They Spot A ...
117,NBC\r\nI guess you wouldn't call Kristen and R...,You just can't do a MacGruber sketch with Kris...,"A Ton Of Celebs Joined Will Forte On ""SNL"" Las..."

In [9]:
data.to_csv('buzzfeed_headlines.csv', index=False)
!mv buzzfeed_headlines.csv ../data/