In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [23]:
titles = pd.read_csv('../data/clean_titles.csv')
titles.head()

                                         clean_title
0         35 affordable things make feel oh-so-fancy
1                          would die "game thrones?"
2  harry sally? john mclaine holly? quiz determin...
3  25 times harry styles went way make fans hella...
4  penn badgley weighed wild finale "you" season ...

So I've left the titles still a little bit messy for the purpose of visualization, specifically for the use of `pyLDAvis`. Now we can clean it properly for the sake of our models that will be using the data.

A preprocess fucntion was already created in the `headline_eda` notebook, this is a modification of that function. We don't need all of the same methods that we used previously because we already have stop words removed, all of the words are tokenized, stemmed, and lowercased. What we're doing now is just making sure everything is lowercased, removing punctuation, replacing multiple spaces with a single space, and removing leading and trailing spaces.

In [24]:
def preprocess(df):
    df['clean_title'] = df['clean_title'].str.lower()
    df['clean_title'] = df['clean_title'].str.replace('[^a-zA-Z0-9]', ' ') # replace non-alphanumeric characters with spaces
    df['clean_title'] = df['clean_title'].str.replace('\s+', ' ') # replace multiple spaces with a single space
    df['clean_title'] = df['clean_title'].str.strip() # remove leading and trailing spaces
    return df

In [25]:
titles = preprocess(titles)
titles.head()

                                         clean_title
0         35 affordable things make feel oh so fancy
1                             would die game thrones
2  harry sally john mclaine holly quiz determine ...
3  25 times harry styles went way make fans hella...
4  penn badgley weighed wild finale you season 3 ...

In [26]:
import markovify

In [27]:
text_model = markovify.NewlineText(titles['clean_title'], state_size=2)

In [29]:
for _ in range(4):
    print(text_model.make_sentence())

tell us witch opinions we ll reveal whether australia usa
33 subtly sexist things women like them honestly messed
trendiest foods past year i m ngl they re wrong here s cast dune characters playing
tom holland shared another tribute zendaya instagram made history becoming first deaf actor play marvel superhero